<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <span class="bi bi-whatsapp"></span>
      </a>
      <a href="" class="me-4 text-reset">
        <span class="bi bi-facebook"></span>
      </a>
      <a href="" class="me-4 text-reset">
        <span class="bi bi-google"></span>
      </a>
      <a href="" class="me-4 text-reset">
        <span class="bi bi-instagram"></span>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">About us</h6>
          <p>
            As a brand we are always evolving. Introducing our cosmetics range
            developed specifically for a diversity of skin types and
            complexions. We have also launched our new look and feel across all
            our stores. We promote our brand offerings on all our social media
            platforms and website, through competitions, give-aways and in store
            promotions.We are committed to growing The Perfume Garden brand, we
            aim to make it a leading fragrance and cosmetics company in South
            Africa and other African countries.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">NEWSLETTER</h6>
          <p>
            Subscribe to receive updates, access to exclusive deals and more.
          </p>
          <form>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>

            <button type="submit" class="btn btn-danger mt-2">Submit</button>
          </form>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="#!" class="text-danger">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-danger">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-danger">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-danger">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><span class="bi bi-house"></span> Johannesburg, Gauteng, ZAR</p>
          <p class="text-danger">
            <span class="bi bi-envelope"></span>
            info@legendsparfumerie.com
          </p>
          <p><span class="bi bi-phone"></span>+ 01 234 567 88</p>
          <p><span class="bi bi-printer"></span> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2016 Copyright:
    <a class="text-reset fw-bold" href="https://legendsperfumerie.com/"
      >legendsperfumerie.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
