<nav ngbNav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img
        src="assets/images/legends-white-logo.svg"
        height="50"
        alt="legends"
        loading="lazy"
      />
    </a>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn px-3 me-2">
        <span class="bi bi-cart"></span>
        Shopping cart
      </button>
      <button type="button" class="btn btn-dark me-3">
        Sign up or create account
      </button>
    </div>
  </div>
</nav>
