.home-container {
  background-image: url(../../../../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.home-divider {
  border-top: 8px solid !important;
  border-radius: 5px;
}
