<app-navigation></app-navigation>
<app-navbar></app-navbar>
<div
  class="home-container jumbotron bg-image p-5 text-center shadow-1-strong mb-5 text-white"
>
  <div>
    <div class="display-3 mb-3">FIND YOUR FRAGRANCE</div>
    <div class="solid mb-3 home-divider"></div>
    <p class="lead mb-3">
      ​Search for your favourite perfume brands, names, ingredients or notes and
      we'll recommend a high quality, but affordable alternative for you.
    </p>
  </div>
  <div>
    <form>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="I'm looking for. . ."
          aria-label="I'm looking for. . ."
          [(ngModel)]="product"
          [ngbTypeahead]="search"
          [inputFormatter]="formatter"
          [resultFormatter]="formatter"
          [editable]="false"
        />
        <div class="input-group-append">
          <button class="btn btn-danger" type="button" id="button-addon2">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 img-container">
      <a href="ladies">
        <img src="assets/images/legend-female.jpg" class="img-thumbnail" />
        <div class="d-flex justify-content-center align-items-center h-100">
          <h2 class="text-white mb-0 img-text">LADIES</h2>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 img-container">
      <a href="gentlemen">
        <img src="assets/images/legend-male.jpg" class="img-thumbnail" />
        <div class="d-flex justify-content-center align-items-center h-100">
          <h2 class="text-white mb-0 img-text">GENTLEMEN</h2>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 img-container">
      <a href="unisex">
        <img src="assets/images/legend-unisex.jpg" class="img-thumbnail" />
        <div class="d-flex justify-content-center align-items-center h-100">
          <h2 class="text-white mb-0 img-text">UNISEX</h2>
        </div></a
      >
    </div>
  </div>
</div>

<div>
  <p class="display-4 text-center">TOP 10 FRAGRANCES</p>

</div>

<app-footer></app-footer>
